@using HtmlAgilityPack;
@using Test1.Models;
@model Test1.Models.SearchModel
@{
    ViewBag.Title = "HOME";
    var newsModel = (NewsModel)ViewBag.newsModel;
    var test = (string)ViewBag.test ?? " ";

}

<div class="container;">
    <div class="bg">
        <div class="row">
            <div class="col-md-4" style="padding:inherit">
                <img src="~/images/DOC VERification.png" />
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-1">
                <h1 style="font-size:30pt; color:#190453; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"></h1> <br />
            </div>
            <div class="col-md-3"><img src="~/images/semantic_2.png" /></div>
        </div>
    </div>

<br />
@test





